### Day Objectives:
    - Data Stuructures:
            - dictionaries
            - sets

### dictionary:
    - it is a collection of different data types
    - it is a group of key and value pair(key,value pair)-->item
    - in dictionary "keys" are unique
    - it is represented with curly brackets "{}"
    - in dict each and every item  is separated with comma(,)
    - accessing dict values by using key names.
    - it is a mutable(changable)

### to create an empty dictionary
    - dict_name={}
     
### to create the dict with values:
    - dict_name={key:value,key:value....keyn:valuen}

In [2]:
### empty
d1={}
print(type(d1))

<class 'dict'>

In [4]:
### with values
d1={'a':100,'b':200,'c':300}
print(d1)
print(type(d1))

{'a': 100, 'b': 200, 'c': 300}
<class 'dict'>

In [8]:
d1={1:100,2:200,3:300}
print(d1)
type(d1)

{1: 100, 2: 200, 3: 300}

dict

In [13]:
## different data types
d2={'name':'srikanya','rollnumber':1307654,'branch':'CSE','CGPA':8.0}
print(d2)
print(type(d2))

{'name': 'srikanya', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0}
<class 'dict'>

In [18]:
## accessing the dict values by using key names
print(d2['rollnumber'])
print(d2['branch'])
print(d2['CGPA'])

1307654
CSE
8.0

In [20]:
#### dict methods
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## keys():
    - to get the only key names in the format of list
    - dict_name.keys()

In [22]:
## keys()
print(d2)
print(d2.keys())

{'name': 'srikanya', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0}
dict_keys(['name', 'rollnumber', 'branch', 'CGPA'])

## values():
    - to get the dictionary values in the format of list
    - dict_name.values()

In [24]:
## values()
print(d2)
print(d2.values())

{'name': 'srikanya', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0}
dict_values(['srikanya', 1307654, 'CSE', 8.0])

## items():
    - to get the dictionary items like(keyname,values) in format of tuple
    - dict_name.items()

In [26]:
print(d2)
print(d2.items())

{'name': 'srikanya', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0}
dict_items([('name', 'srikanya'), ('rollnumber', 1307654), ('branch', 'CSE'), ('CGPA', 8.0)])

### get():
    - to get the dictionary values based on particular key name
    - dict_name.get(key_name)

In [30]:
print(d2)
print(d2.get('branch'))
print(d2.get('name'))
print(d2.get('CGPA'))

{'name': 'srikanya', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0}
CSE
srikanya
8.0

### setdefault():
    - to add the new item to the end of dictionary
    - dict_name.sefdefault(keyname,values)

In [36]:
print(d2)
print(d2.setdefault('section','A'))
print(d2)

{'name': 'srikanya', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0, 'section': 'A'}
A
{'name': 'srikanya', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0, 'section': 'A'}

### update():
    - to upadte the any existing value in dictionary
    - dict_name.update(keyname:value)

In [39]:
print(d2)
print(d2.update({'name':'kishore'}))
print(d2)
print(d2.update({'branch':'ECE'}))
print(d2)

{'name': 'kishore', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0, 'section': 'A'}
None
{'name': 'kishore', 'rollnumber': 1307654, 'branch': 'CSE', 'CGPA': 8.0, 'section': 'A'}
None
{'name': 'kishore', 'rollnumber': 1307654, 'branch': 'ECE', 'CGPA': 8.0, 'section': 'A'}

### pop():
    - to delete an item from the dictionat using keyname
    - dict_name.pop(keyname)

In [44]:
print(d2)
print(d2.pop('section'))

{'name': 'kishore', 'branch': 'ECE', 'CGPA': 8.0, 'section': 'A'}
A

### popitem():
    - to delete the last item from the dictionary
    - dict_name.popitem()

In [55]:
print(d2)
print(d2.popitem())

{'name': 'kishore', 'branch': 'ECE'}
('branch', 'ECE')

In [56]:
print(d2)

{'name': 'kishore'}

### fromkeys():
    - it returns the new dictionary
    - variable_name=dict.fromkeys(sequence,value)

In [63]:
l1=[1,2,3]
d3=dict.fromkeys(l1,67)
d3[1]="abc"
d3[2]="green"
d3[3]="apple"
print(d3)

{1: 'abc', 2: 'green', 3: 'apple'}

In [69]:
d3=dict.fromkeys([1,2,3],69)
d3[3]="green"
print(d3)

{1: 69, 2: 69, 3: 'green'}

### clear()
    - to clear the data from the dictionary
    - dict_name.clear()

In [73]:
print(d1)
print(d2.clear())
print(d3)

{1: 100, 2: 200, 3: 300}
None
{1: 69, 2: 69, 3: 'green'}

In [78]:
print(d2)
print(d2.setdefault('section','A'))
print(d2)
print(d2.setdefault('color','red'))
print(d2)

{'section': 'A'}
A
{'section': 'A'}
red
{'section': 'A', 'color': 'red'}

In [80]:
## examples
d4={1:20,2:40,3:30,8:60}
# to print the only even keys
for i in d4:
    if i%2==0:
        print(i)

2
8

In [82]:
## to read the two inputs and store into a dict
d1={}
key=input("enter your key name here")
value=input("enter your value for that key")
d1[key]=value
print(d1)

enter your key name here6
enter your value for that keysrikanya
{'6': 'srikanya'}

### to print the length of the string in list
### ['srikanya','apssdc','python']--input
### {'srikanya':8,'apssdc':6,'python':6}--->output

In [86]:
l=['srikanya','apssdc','python']
d={}
for i in l:
    d[i]=len(i)
    print(d)

{'srikanya': 8}
{'srikanya': 8, 'apssdc': 6}
{'srikanya': 8, 'apssdc': 6, 'python': 6}

### sets:
    - it is a collection of different data types
    - it is unordered,unindexed
    - it represents with "{}"
    - it does not allows duplicates

In [90]:
s={10,60,78,56,34}
print(s)
type(s)

{34, 10, 78, 56, 60}

set

In [91]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## add():
    - we can add the ne element to the set
    - set_name.add()

In [97]:
print(s)
print(s.add(45))
print(s)
print(s.add(90))
print(s)

{34, 10, 45, 78, 56, 90, 60}
None
{34, 10, 45, 78, 56, 90, 60}
None
{34, 10, 45, 78, 56, 90, 60}

In [98]:
## update--we can add multiple values
print(s)

{34, 10, 45, 78, 56, 90, 60}

In [103]:
s.update([22,33,44])
print(s)

{33, 34, 10, 44, 45, 78, 22, 56, 90, 60}

In [104]:
### copy()
print(s)
s1=s.copy()
print(s1)

{33, 34, 10, 44, 45, 78, 22, 56, 90, 60}
{33, 34, 10, 44, 45, 78, 22, 56, 90, 60}

In [112]:
## remove()
print(s1)
s1.remove(45)

{33, 34, 44, 45, 78, 22, 56, 90, 60}

In [113]:
print(s1)

{33, 34, 44, 78, 22, 56, 90, 60}

In [114]:
print(s1)

{33, 34, 44, 78, 22, 56, 90, 60}

In [115]:
s1.discard(90)
print(s1)

{33, 34, 44, 78, 22, 56, 60}

#### mathematical operations
    - union
    - intersection
    - difference

In [117]:
## union(AUB)
A={8,9,0,4,5}
B={3,5,8,1,6}
print(A.union(B))

{0, 1, 3, 4, 5, 6, 8, 9}

In [118]:
## insection(A INTERSECTION B)
A={8,9,0,4,5}
B={3,5,8,1,6}
print(A.intersection(B))

{8, 5}

In [119]:
## difference(A-B)
A={8,9,0,4,5}
B={3,5,8,1,6}
print(A.difference(B))

{0, 9, 4}